{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Railways</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8000">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="loginNavBtn">
                <a class="nav-link" href="#" data-toggle="modal"
                   data-target="#loginModal">Log in</a>
            </li>
            <li class="nav-item" id="cartNavButton">
                <a class="nav-link" href="#" data-toggle="modal"
                   data-target="#cartModal">Cart</a>
            </li>
            <li class="nav-item" id="logoutNavButton">
                <a class="nav-link" href="#">Log out</a>
            </li>
            <li class="nav-item" id="registerNavButton">
                <a class="nav-link" href="{% url 'railways:register' %}">Register</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}

{% endblock content %}

</body>
</html>