{% extends 'railways/base.html' %}
{% load static %}
{% block content %}

    <script src="{% static 'railways/scripts/main.js' %}">
    </script>

    <script src="{% static 'railways/scripts/getRides.js' %}">
    </script>

    <script src="{% static 'railways/scripts/buyTicket.js' %}">
    </script>

    <script src="{% static 'railways/scripts/getUserTickets.js' %}">
    </script>

    <script src="{% static 'railways/scripts/submitLoginForm.js' %}">
    </script>

    <script src="{% static 'railways/scripts/logout.js' %}">
    </script>


    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Your tickets</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modal-trains">
                    <pre></pre>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <form id="login_form" style="display: none">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>
            <button type="reset" class="btn">Reset</button>
        </form>
    </div>

    <div class="container" style="margin-top: 50px">
        <form id="data_specifying_form" style="display: none">
            <div class="form-group">
                <label for="departure_station">Departure station:</label>
                <input type="text" class="form-control" id="departure_station"
                       name="departure_station">
            </div>
            <div class="form-group">
                <label for="arrival_station">Arrival station:</label>
                <input type="text" class="form-control" id="arrival_station" name="arrival_station">
            </div>

            <div class="form-group">
                <label for="departure_date">Departure date:</label>
                <input type="date" class="form-control" id="departure_date" name="departure_date">
            </div>

            <button type="submit" class="btn btn-primary">Choose</button>
        </form>
    </div>

    <div class="container" id="trains" style="margin-top: 50px">
        <pre></pre>
    </div>

    <script>
        if (getCookie('Authorization') === '') {
            let loginForm = $("#login_form");

            loginForm.show();

            loginForm.on(
                "submit",
                submitLoginForm
            );
        } else {
            $("#data_specifying_form").show();

            let cart_button = $("#cart_btn");

            cart_button.show();

            $('#logout_btn').on(
                'click',
                logout
            )
        }

        let cart_button = $("#cart_btn");

        cart_button.on("click",
            getUserTickets
        );
    </script>

    <script>
        let dataSpecifyingForm = $("#data_specifying_form");

        function submitDataSpecifyingForm(event) {
            event.preventDefault();
            getRides();
        }

        $("pre").on(
            'click',
            '.btn-buy-ticket',
            buyTicket
        );

        dataSpecifyingForm.on(
            "submit",
            submitDataSpecifyingForm
        );
    </script>
{% endblock content %}