{% extends 'railways/base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'railways/scripts/registerUser.js' %}">
    </script>

    <div class="card mx-auto w-50 mt-5">
        <h5 class="card-header">Register</h5>
        <div class="card-body">
            <form id="registerForm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Your Email</span>
                    </div>
                    <input type="email" class="form-control"
                           placeholder="Email" id="email"
                           name="email">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Person</span>
                    </div>
                    <input type="text" class="form-control"
                           placeholder="First Name" id="firstName"
                           name="first_name">
                    <input type="text" class="form-control"
                           placeholder="Last Name"
                           id="lastName"
                           name="last_name">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input type="password" class="form-control"
                           placeholder="Enter password" id="password"
                           name="password">
                    <input type="password" class="form-control"
                           placeholder="Repeat password" id="password2"
                           name="password2">
                </div>

                <button type="submit" class="btn  btn-primary">Register
                </button>

                <button type="reset" class="btn">Reset</button>
            </form>
        </div>
    </div>

    <script>
        $("#registerForm").on(
            "submit",
            registerUser
        )


    </script>
{% endblock %}